.circle {
    position: fixed;
    z-index: -1; /* Place the circle above the overlay */
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: radial-gradient(rgba(211, 255, 109, 0.61) 7%, transparent 50%);
}