/* Grid Container */
.grid_container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}
